.resultcard{
    transition: transform .4s;
}




.resultCard:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
 
  .seeMore{
    transition: transform .4s;
  }

  .seeMore:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }