.title{
    text-align: center;
    color: white;
    font-size: 6rem;
    margin-top: 10%;

}

.title:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.4)
}

.textCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}

.backgroundInfo{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 10%;
}

.background{
    background: url(https://lh3.googleusercontent.com/J-mxAE7CPu-DXIOx4QKBtb0GC4ud37da1QK7CzbTIDswmvZHXhLm4Tv2-1H3iBXJWAW_bHm7dMl3j5wv_XiWAg55VOM=s0) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 95.5vh;
    }