.title{
    text-align: center;
    color: white;
    font-size: 6rem;
    -webkit-animation: fadein 4s;  
    -moz-animation: fadein 4s; 
    -ms-animation: fadein 4s;       
    -o-animation: fadein 4s; 
    animation: fadein 4s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  

.nextpage{
    text-align: center;
    color: white;
    font-size: 6rem;
    margin-top: 50%;
    -webkit-animation: fadein 4s;  
    -moz-animation: fadein 4s; 
    -ms-animation: fadein 4s;       
    -o-animation: fadein 4s; 
    animation: fadein 4s;
}

.nextpage:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.4)
}

.textCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}



.background{
    background: url(https://lh3.googleusercontent.com/J-mxAE7CPu-DXIOx4QKBtb0GC4ud37da1QK7CzbTIDswmvZHXhLm4Tv2-1H3iBXJWAW_bHm7dMl3j5wv_XiWAg55VOM=s0) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 94.7vh;
    }

  